  /* 类 */
  .group{
    display: flex; /* 将元素变为弹性容器，使用弹性布局进行排列和对齐子元素。 */
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 4px; /* 设置元素的边距为4px */
    width: 100%;
    align-items: center; /* 垂直居中 */
}
/* 分类图标样式 */
.bookmark-group-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/*  分类名称字体颜色  */
.bookmark-group-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

 /* bookmark区域 */
.bookmark-list-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 创建四列，每列平均分配空间 */
  gap: 10px; /* 设置网格项之间的间隙 */
  width: 100%;
  box-sizing: border-box; /* 确保宽度计算包括内边距和边框 */
}


@media (max-width: 1024px) {
  .bookmark-list-area {
    grid-template-columns: repeat(3, 1fr); /* 屏幕宽度小于1024px时，每行三列 */
  }
}

@media (max-width: 768px) {
  .bookmark-list-area {
    grid-template-columns: repeat(2, 1fr); /* 屏幕宽度小于768px时，每行两列 */
  }
}

/* 对于更小的屏幕，可以调整为单列显示 */
@media (max-width: 480px) {
  .bookmark-list-area {
    grid-template-columns: 1fr; /* 单列显示 */
  }
}