.branding {
    display: flex;      /*    设置为 Flexbox 容器     */
    align-items: center;      /*   项目的垂直对齐方式为居中      */
    font-size: 24px;      /*    文本的字体大小为 24 像素     */
    line-height: 70px;      /*    文字高度    */
    margin-left: 10px;      /*    左外边距为 10 像素    */
}

.logo-icon {
    height: 50px;       /*    图片的高度50像素     */
    width: auto;      /*   图片的宽度自动，以保持图像的原始比例      */
    margin-right: 10px; /* 右外边距为 10 像素 */
}


.navigate {
    display: flex;
    justify-content: space-around;
    margin-right: 5px;
}
  
.navigate a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-right: 5px;

}
.navigate a.active {
    border-bottom: 2px solid #13b9e2;
    margin-bottom: -2px;
}

