
/*  导航页主体  */
.layout-pages {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 1rem 0rem 1rem 1rem;   /* 上右下左 */
  padding: 0.5rem 1rem 1rem 1rem;
  height: calc(100vh - 3.6rem); /* 100vh 表示视口高度的百分比（vh 单位表示视口高度的1%）*/
  overflow-y: scroll;
}


/* 侧边栏滚动条 */
.layout-pages::-webkit-scrollbar {
  width: 5px;  /* 设置滚动条的宽度 */
  background-color: #FFFFFF;  /* 设置滚动条背景颜色 */
}
.layout-pages::-webkit-scrollbar-thumb {
  background-color: #D0D0D0;  /* 设置滚动条的颜色 */
}

/* 类 */
.group{
  display: flex; /* 将元素变为弹性容器，使用弹性布局进行排列和对齐子元素。 */
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 4px; /* 设置元素的边距为4px */
  width: 100%;
  align-items: center; /* 垂直居中 */
}
/* 分类图标样式 */
.bookmark-group-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/*  分类名称字体颜色  */
.bookmark-group-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

 /* bookmark区域 */
.bookmark-list-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 创建四列，每列平均分配空间 */
  gap: 10px; /* 设置网格项之间的间隙 */
  width: 100%;
  box-sizing: border-box; /* 确保宽度计算包括内边距和边框 */
}


@media (max-width: 1024px) {
  .bookmark-list-area {
    grid-template-columns: repeat(3, 1fr); /* 屏幕宽度小于1024px时，每行三列 */
  }
}

@media (max-width: 768px) {
  .bookmark-list-area {
    grid-template-columns: repeat(2, 1fr); /* 屏幕宽度小于768px时，每行两列 */
  }
}

/* 对于更小的屏幕，可以调整为单列显示 */
@media (max-width: 480px) {
  .bookmark-list-area {
    grid-template-columns: 1fr; /* 单列显示 */
  }
}


/* 每个列表项 */
.bookmark-list {
  margin-bottom: 10px; /* 每行底部的间隔 */
  margin-right: 5px; /* 给每个元素设置右边距，除了最后一个 */
  box-sizing: border-box; /* 边框和内边距包含在宽度内 */
}

.bookmark-list:last-child {
  margin-right: 0; /* 最后一个元素没有右边距 */
}

/* 链接和图标容器样式 */
.bookmark-href {
  width: 100%;
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承文本颜色 */
  margin-bottom: 12px;
  border-radius: 6px; /* 设置边框的圆角半径为 6 像素。这会使边框的四个角变为圆角形状。*/
  cursor: pointer;   /*鼠标指针会变成一个小手的形状，表示该元素是可点击的*/
}



/* 网址图标方框 */
.bookmark-icon-area {
  width: 44px;
  height: 32px;
  display: flex;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */

  border-top-left-radius: .375em;
  border-bottom-left-radius: .375em;
  background-color: #E6EAED;
}
/* 网址图标 */
.bookmark-icon {
  width: 20px;
  height: 20px;
}
/* 网址文字 */
.bookmark-text {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
  background-color: #F5F7F9;  /* 设置背景颜色 */
}

/* 网址名称字体颜色 */
.bookmark-name {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-left: .75rem;
  font-size: .75rem;
  line-height: 1rem; /* 行高 */
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #334155; /* 颜色 */
  float: left; /* 根据需要进行样式调整，比如margin, padding等 */
}

/* 网址描述字体颜色 */
.bookmark-description {
  font-size: .75rem;
  line-height: 1rem; /* 行高 */
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  float: right; /* 根据需要进行样式调整，比如margin, padding等 */
  color: #64748B; /* 颜色 */
}
