/* 弹窗样式 */
.modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: fit-content;
    max-width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 将元素的位置向左上角偏移自身宽度和高度的一半*/
  }
  
  .modal-content label {
    display: block; /* 将 <label> 元素转换为块级元素，使其独占一行 */
    margin-top: 16px; /* 设置 <label> 元素之间的间距 */
    margin-left: 16px; /* 设置 <label> 元素之间的间距 */
    width: 300px; /* 可根据需要调整固定宽度 */
    white-space: nowrap; /* 防止文字换行 */
    height: 24px;
    position: relative;
  }
  
  .modal-content input[type="text"] {
    position: absolute;
    left: 80px;
    border: 1px solid #888;
    height: 24px;
  }
  
  
  /* 保存按钮 */
  .saveButton {
    display: block;
    margin: 16px auto;
    background-color: #03C078;
    color: white;
  }
  
  
  /* 保存弹窗 */
  .popup_save {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }
  
  
  .popupText_save {
    display: block;
    margin: 40px;
    white-space: nowrap; /* 防止文字换行 */
  }